<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="IsProduction" value="false" />
      <add key="TimeOut" value="600" />
      <add key="UseTransaction" value="false" />
      <add key="ExecuteSQLFilesSeparately" value="true" />
      <add key="GenerateExcelFilesFromSelectQueryFiles" value="true" />
      <add key="ConsolidateExcelFilesIntoSingleFileOnSeperateTabs" value="true" />
   </appSettings>
</configuration>
